{% load static %}

<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Harrys Portfolio || Harrys Personal Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/hover-reveal.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

     <!-- Preloader start -->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!-- Preloader start -->

    <!-- Backtotop start -->
    <div class="backtotop-wrap cursor-pointer">
        <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Backtotop end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="offcanvas__area">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'img/logo.svg' %}" alt="logo not found">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                                    <span class="offcanvas-m-line line--1"></span><span
                                        class="offcanvas-m-line line--2"></span><span
                                        class="offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="mobile-menu fix"></div>
                    <div class="offcanvas__social">
                        <h4 class="offcanvas__title mb-20">Subscribe & Follow</h4>
                        <div class="theme__social">
                            <a href="https://dribbble.com/CaptainHarry"><i class="fa-brands fa-dribbble"></i></a>
                            <a href="https://t.me/captainsexy"><i class="fa-brands fa-telegram"></i></a>
                            <a href="https://www.linkedin.com/in/harry-nwozor-15878460/"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.behance.net/captainharryp"><i class="fa-brands fa-behance"></i></a>
                        </div>
                    </div>
                    <div class="offcanvas__btn">
                        <div class="header__btn-wrap">
                            <a class="bd-btn is-btn-anim" href="#">
                                <span class="bd-btn-inner">
                                    <span class="bd-btn-normal">Purchase now</span>
                                    <span class="bd-btn-hover">Purchase now</span>
                                    <i class="contentHidden"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>
    <div class="offcanvas__overlay-white"></div>
    <!-- Offcanvas area end-->

    <!-- Header area start -->
    <header>
        <div id="header-sticky" class="header__area header-transparent">
            <div class="container">
                <div class="mega__menu-wrapper p-relative">
                    <div class="header__main">
                        <div class="header__left">
                            <div class="header__logo">
                                <a href="{% url 'home' %}">
                                    <img class="logo__white" src="{% static 'img/wow.png' %}" alt="logo not found">
                                </a>
                            </div>
                        </div>
                        <div class="header__middle">
                            <div class="mean__menu-wrapper d-none d-md-block">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul class="onepage-menu">
                                            <li>
                                                <a href="{% url 'home' %}">Home</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'about' %}">About</a>
                                            </li>
                                            <li><a href="{% url 'services' %}">Services</a>
                                            </li>
                                            <li><a href="{% url 'portfolio' %}">Portfolio</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- for wp -->
                                    <div class="header__hamburger ml-20 d-none">
                                        <button type="button" class="hamburger-btn offcanvas-open-btn">
                                            <span>01</span>
                                            <span>01</span>
                                            <span>01</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header__right">
                            <div class="header__action d-flex align-items-center">
                                <div
                                    class="header__btn-wrap d-none d-sm-inline-flex d-inline-flex align-items-center gap-5">
                                    <a class="bd-btn is-btn-anim bordered-blue" href="{% url 'contact' %}">
                                        <span class="bd-btn-inner">
                                            <span class="bd-btn-normal">Contact me</span>
                                            <span class="bd-btn-hover">Contact me</span>
                                            <i class="contentHidden"></i>
                                        </span>
                                    </a>



                                </div>
                                <div class="header__hamburger ml-20 d-lg-none">
                                    <div class="sidebar__toggle">
                                        <a class="bar-icon" href="javascript:void(0)">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- for wp -->
                                <div class="header__hamburger ml-20 d-none">
                                    <button type="button" class="hamburger-btn offcanvas-open-btn">
                                        <span>01</span>
                                        <span>01</span>
                                        <span>01</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end -->




{% block content %}

{% endblock %}



<!-- Footer area start -->
    <footer>
        <section class="footer__area section-space-top">
            <div class="container">
                <div class="footer__top">
                    <div class="footer__logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'img/wow.png' %}" alt="logo not found">
                        </a>
                    </div>
                    <div class="footer__content">
                        <div class="theme__social">
                            <a href="https://t.me/captainsexy"><i class="fa-brands fa-telegram"></i></a>
                            <a href="https://www.linkedin.com/in/harry-nwozor-15878460/"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.behance.net/captainharryp"><i class="fa-brands fa-behance"></i></a>
                            <a href="https://dribbble.com/CaptainHarry"><i class="fa-brands fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Section divider -->
                <div class="section__divider">
                    <hr>
                </div>
                <div class="footer__bottom">
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>About me</h5>
                        </div>
                        <div class="footer__widget-content">
                            <p class="mb-30">I'm Always Available 24/7</p>
                            <div class="contact__info-item style-two">
                                <ul>
                                    <li>
                                        <div class="contact__info">
                                            <div class="contact__info-icon">
                                                <span>
                                                    <i class="icon-phone"></i>
                                                </span>
                                            </div>
                                            <div class="contact__info-content">
                                                <p>Phone</p>
                                                <h6><a href="tel:+2348029510173">+2348029510173</a></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact__info">
                                            <div class="contact__info-icon">
                                                <span>
                                                    <i class="icon-envelope"></i>
                                                </span>
                                            </div>
                                            <div class="contact__info-content">
                                                <p>Email</p>
                                                <h6><a href="{% url 'contact' %}"><span class="__cf_email__">captainharri@gmail.com</span></a></h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>Company</h5>
                        </div>
                        <div class="footer__links">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>Services</h5>
                        </div>
                        <div class="footer__links">
                            <ul>
                                <li><a href="{% url 'services' %}">Mobile Apps Development</a></li>
                                <li><a href="{% url 'services' %}">Full Stack Development</a></li>
                                <li><a href="{% url 'services' %}">Wordpress Web Design</a></li>
                                <li><a href="{% url 'services' %}">Product Design</a></li>
                                <li><a href="{% url 'services' %}">Email Server Administrator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget-title">
                            <h5>Subscribe Now</h5>
                        </div>
                        <div class="footer__widget-content">
                            <p>Subscribe to get the latest news from me</p>
                            <form action="{% url 'home' %}" method="post" name="sentMessage" class="was-validated">
                                {% csrf_token %}
                                <div class="footer__input">
                                    <input name="email" type="email" placeholder="Please enter your Email" required="required" data-validation-required-message="Please enter your email">
                                    <button class="footer__btn" type="submit"><i class="icon-plane"></i></button>
                                </div>
                            </form>
                            <p>*I am not going to save your data</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section divider -->
            <div class="section__divider">
                <hr>
            </div>
            <div class="footer__copyright style-two">
                <div class="container">
                    <div class="footer__copyright">
                        <p>Copyright 2024, <a href="#">HarrysPortfolio.</a> All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- Footer area end -->

    <!-- JS here -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/plugins/meanmenu.min.js' %}"></script>
    <script src="{% static 'js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'js/vendor/tween-max.js' %}"></script>
    <script src="{% static 'js/plugins/wow.js' %}"></script>
    <script src="{% static 'js/vendor/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/vendor/vanilla.tilt.js' %}"></script>
    <script src="{% static 'js/plugins/counterup.js' %}"></script>
    <script src="{% static 'js/plugins/nice-select.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/vendor/hover-reveal.js' %}"></script>
    <script src="{% static 'js/plugins/parallax.min.js' %}"></script>
    <script src="{% static 'js/plugins/parallax-scroll.js' %}"></script>
    <script src="{% static 'js/plugins/jarallax.min.js' %}"></script>
    <script src="{% static 'js/vendor/ajax-form.js' %}"></script>
    <script src="{% static 'js/vendor/js_circle-progress.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>


</html>